html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Background image below */
body {
    background-image: url("/img/Mountain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    margin: 10%;
}


/* Nav bars */
.navbar-top, .navbar-bottom {
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
}

.navbar-top ul, .navbar-bottom ul {
    display: flex;
    align-self: center;
    padding-left: .5rem;
    ;
}

.navbar-top li, .navbar-bottom li {
    padding: 0 .5rem 0 .2rem;
}

.navbar-top a, .navbar-bottom a {
    color: black;
}





/* Main testing */
.main-container {
    background-color: azure;
    border: 3px solid black;
    margin: 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container h1 {
    ;
}

.main-container p {
    padding: 1rem;
    flex-wrap: wrap;
}



/* Snowboard image section */
.image-placeholder-container {
    border: solid 3px black; /* to help me understand the box */
    margin-top: 5px;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: ;
    align-content: ;

}

.image-placeholder {
    margin: 5px;
    
    width: 200px;
    height: 200px;
    border: solid 2px black;
    

}

/*Removed underlines and li dots     */
a { 
    text-decoration: none;
}

ul {
    list-style: none;
}




 #linked { /* Image stuff */
    height: 50px;
    width: 50px;
    border-radius: 10%;
}

#youtube {
    height: 50px;
    width: 70px;
    border-radius: 9%;
}

#instagram {
    height: 50px;
    width: 52px;
}


/* Media Q */
